/*body {
    background-color: rgb(231, 236, 241);
}
#logo{
    width: 100px;
    position: absolute;
    top: 15px;
    left: 15px;
}
main {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 50px;
    font-family: "Sedgwick Ave", cursive;
    font-weight: 400;
    font-style: normal;
}

form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000024;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
}

.group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
}


.group img{
    position: absolute;
    right: 10px;
    top: 33px;
    width: 20px;
    display: none;
    user-select: none;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

label {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.group a {
    text-align: right;
    font-size: 15px;
    text-decoration: none;
    color: rgb(27, 25, 25);
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    min-height: 20px;
    outline: 0;
    padding: 8px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button-24:active {
    opacity: .5;
}

input{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #252020;
    padding: 5px 5px;
}

input::placeholder{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #88889992;
    padding: 5px 5px;
}



@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html, body
{
    margin: 0;
    padding: 0;
}

body
{
    font-family:  'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #ff966d, #fa538d, #89379c);
}

.container{
    width: 50vw;
    height: 60vh;
    background: lightblue;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow:  0 0 17px 10px rbg(0 0 0 / 30%);
    border-radius: 20px;
    background: white;
    overflow: hidden;
}

.design
{
    grid-area: design;
    display: none;
    position: relative;
}

.rotate-45
{
    transform: rotate(-45deg);
}

.design .pill-1
{
    bottom: 0;
    left: -40px;
    position: absolute;
    width: 80px;
    height: 200px;
    background: linear-gradient(#ff966d, #fa538d, #89379c);
    border-radius: 40px;
}

.design .pill-2
{
    top: -140px;
    left: -80px;
    position: absolute;
    height: 400px;
    width: 180px;
    background: linear-gradient(#ff966d, #fa538d, #89379c);
    border-radius: 200px;
    border: 30px solid #e2c5e2;
}

.login
{
    grid-area: login;
    background-color: lightgoldenrodyellow;
}

@media (min-width: 768px)
{
    .container{
        grid-template-columns: 50% 50%;
        grid-template-areas: "design login";
    }

    .design{
        display: block;
    }
}*/

/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .h3{
    margin-bottom: 20px;
  }
  .container {
    display: flex;
    max-width: 987px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 20px;
  }
  
  .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    position: relative;
  }

  .information {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .logo {
    width: 150px;
    margin-bottom: 10px;
  }
  
  .left-section h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #124875;
  }
  
  .left-section h2 {
    font-size: 18px;
    color: #666;
    margin: 0;
  }
  
  .building {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
  }
  
  .right-section {
    width: 400px;
    height: 600px;
    flex-shrink: 0;
    background: #124874;
    border-radius: 20px 20px 0 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .login-box {
    width: 100%;
    max-width: 350px;
    text-align: center;
  }
  
  .login-box h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .input-group input::placeholder {
    color: #124875 !important;
    opacity: 1;
  }

  .input-group input {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #124875;
  }
  
  .input-group .toggle-visibility {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  
  .back-login {
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .back-login a {
    color: #F8F8F8;
    text-decoration: none;
    font-size: 12px;
  }
  
  .button-24 {
    width: 100%;
    padding: 10px 15px;
    background-color: #CF373D;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-24:hover {
    background-color: #a6282c;
  }
  
  .register-link {
    margin-top: 20px;
    font-size: 12px;
    color: #fff;
  }
  
  .register-link a {
    color: #CF373D;
    text-decoration: none;
  }
  
  footer {
    width: 100%;
    background: rgba(41, 58, 72, 0.71);
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    font-size: 10px;
    border-radius: 0 0 8px 8px;
    color: #FFF;
    font-style: italic;
    line-height: normal;
    text-align: right;
  }

  .fa-eye, .fa-eye-slash
  {
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: #124875;
  }